*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;

}

/*Navbar section*/
.navbar{
    background-color: rgb(0, 119, 255);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 15px;
}

.main-logo-section, .personal-options, .global-options{
   display: grid;
   grid-template-columns: 1fr 4fr;
   row-gap: 10px;
   align-items: center;
}

.main-logo-section > .logo-text{
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

.logo-text > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.logo-text > a:hover{
    color: #e2e8f0;
}

/*Navbar section ends*/

/*Header section*/
.header{
    grid-column: 2 / 3;
    height: 20vh;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.search-bar-section, .edit-profile-section{
    height: 50%;
}

.search-bar-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-bar-section .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 10px;
}

.search-bar > .search{
    width: 100%;
}

.search input{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    background-color: #bddce6;
    font-size: 1rem;
    padding-left: 10px;
}


.profile-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 20px;
}

.profile-section > .notification, .profile-section > .profile-name{
    width: 40%;
}

.profile-section > .profile-name{
    font-weight: bold;
    font-size: 1.1em;
}

.profile-section > .profile-picture{
    text-align: center;
}

.profile-section > .notification{
    text-align: right;
}

.profile-section > .profile-picture:hover, 
.profile-section > .notification:hover,
.profile-section > .profile-name:hover{
    cursor: pointer;
}

.profile-section > .profile-picture img{
    width: 60px;
    border-radius: 50%;
}

.edit-profile-section{
    display: flex;
}

.profile-data{
    display: flex;
    width: 80%;
    gap: 20px;
}

.profile-data > .profile img{
    height: 90px;
    border-radius: 50%;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container > .welcome{
    font-weight: bold;
}

.text-container > .name{
    font-weight: bold;
    font-size: 1.3rem;
}

.modify-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.button-container > button{
    border: 0;
    background-color: rgb(0, 119, 255);
    font-size: 0.9rem;
    width: 90px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    height: 40px;
}

.button-container > button:hover{
    background-color: rgb(8, 93, 189);
    cursor: pointer;
}


/*Header section ends*/
.page-body{
    grid-column: 2 / 3;
}