*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;

}

/*Navbar section*/
.navbar{
    background-color: rgb(0, 119, 255);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 15px;
}

.main-logo-section, .personal-options, .global-options{
   display: grid;
   grid-template-columns: 1fr 4fr;
   row-gap: 10px;
   align-items: center;
}

.main-logo-section > .logo-text{
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

.logo-text > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.logo-text > a:hover{
    color: #cbd5e1;
}

/*Navbar section ends*/

/*Header section*/
.header{
    grid-column: 2 / 3;
    border: 1px solid black;
}

.page-body{
    grid-column: 2 / 3;
    border: 1px solid black;
}

.navbar, .main{
    border: 1px solid black;
}