*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;

}

/*Navbar section*/
.navbar{
    background-color: rgb(0, 119, 255);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 15px;
}

.main-logo-section, .personal-options, .global-options{
   display: grid;
   grid-template-columns: 1fr 4fr;
   row-gap: 10px;
   align-items: center;
}

.main-logo-section > .logo-text{
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

.logo-text > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.logo-text > a:hover{
    color: #e2e8f0;
}

/*Navbar section ends*/

/*Header section*/
.header{
    grid-column: 2 / 3;
    height: 20vh;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.search-bar-section, .edit-profile-section{
    height: 50%;
}

.search-bar-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-bar-section .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 10px;
}

.search-bar-section > .search-bar > .logo img{
    width: 30px;
}

.search-bar-section > .search-bar > .logo img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.search-bar > .search{
    width: 100%;
}

.search input{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    background-color: #bddce6;
    font-size: 1rem;
    padding-left: 10px;
}


.profile-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 20px;
}

.profile-section > .notification, .profile-section > .profile-name{
    width: 40%;
}

.profile-section > .profile-name{
    font-weight: bold;
    font-size: 1.1em;
}

.profile-section > .profile-picture{
    text-align: center;
}

.profile-section > .notification{
    text-align: right;
}

.notification:hover{
    opacity: 0.7;
}

.profile-section > .profile-picture:hover, 
.profile-section > .notification:hover,
.profile-section > .profile-name:hover{
    cursor: pointer;
}

.profile-section > .profile-picture img{
    width: 60px;
    border-radius: 50%;
}

.edit-profile-section{
    display: flex;
}

.profile-data{
    display: flex;
    width: 80%;
    gap: 20px;
}

.profile-data > .profile img{
    height: 90px;
    border-radius: 50%;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container > .welcome{
    font-weight: bold;
}

.text-container > .name{
    font-weight: bold;
    font-size: 1.3rem;
}

.modify-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.button-container > button{
    border: 0;
    background-color: rgb(0, 119, 255);
    font-size: 0.9rem;
    width: 100px;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    height: 40px;
}

.button-container > button:hover{
    background-color: rgb(8, 93, 189);
    cursor: pointer;
}

/*Header section ends*/

/*Body section starts*/
.page-body{
    grid-column: 2 / 3;
    background-color: #f1f5f7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.project-container{
    padding: 20px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;
}

.project-card{
    height: 270px;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    border-left: 10px solid rgb(255, 153, 0);
}

.project-card-title{
    font-weight: 900;
    font-size: 1.3rem;
}

.project-items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.project-items img{
    width: 30px;
}

.project-items img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.others{
    padding: 20px;
}

.announcements-container{
    background-color: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.announcement-title{
    font-weight: bold;
    font-size: 1.1rem;
}

.announcement-item:first-child, .announcement-item:nth-child(2){
    border-bottom: 1px solid rgb(175, 175, 175);
}

.trending-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    padding: 20px;
}

.trending-item{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
}

.trending-item:hover{
    cursor: pointer;
    background-color: lightgrey;
}

.trending-item p{
    margin: 0;
}

.trending-item img{
    width: 50px;
    border-radius: 50%;
}